{% load static %}

<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Fithub</title>
        <link href="{% static '../assets/image/logo.jpg' %}" rel="shortcut icon" type="image/x-icon">
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
<!----Bootstrap--->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--jquery--->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<!--coustom script-->
        <script src="{% static 'java/scripts.js' %}"></script>
<!--Slick Carousel-->
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"> </script>
        <!---Font awesome-->
        <script src="https://kit.fontawesome.com/51c8af3595.js" crossorigin="anonymous"></script>
        <link href="https://fonts.googleapis.com/css2?family=Candal&family=Lora&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
</head>
    <body>
    

<header>
 <!------Navigation Bar---->
  <div class="nav-bar">
     <nav class="navbar navbar-expand-lg navbar-light fixed-top ">
    <a class="navbar-brand" href="/"><img src="{% static 'image/logo.jpg' %}"></a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" href="/"><i class="fa fa-home" aria-hidden="true"></i>HOME</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/">ABOUT<i class="fa fa-question-circle" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="blog.html" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> PAGES</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                <a class="dropdown-item" href="#OurPlans">OUR COURSES</a>
                <a class="dropdown-item" href="timetable">Course Schedule</a>
            </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#contact">Contact US</a>
      </li>
            {% if user.is_authenticated %}
            <li class="nav-item"><a href="javascript:void(0)">Hii, {{user.first_name}}</a>
                <ul>
                    <li><a href="LogOut"><i class="fa fa-sign-out" aria-hidden="true"></i>Log Out</a></li>
                </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a class="nav-link" href="join" target="-blank"><i class="fa fa-hand-o-up" aria-hidden="true"></i>JOIN</a>

            </li>
            {% endif %}
    </ul>
  </div>
</nav>
     </div>

</header>

<section class="frontimage">    
      <img src="{% static 'image/pexels-cottonbro-4761663.jpg' %}"  class="d-block img-fluid" alt="First slide">
</section>
<!-- schedule-->
<section class="schedule_part single_page_shedule section_padding overflow-hidden" id="schedule">
        <div class="container p-lg-0">
            <div class="row align-items-center justify-content-center">
                <div class="col-lg-8">
                    <div class="schedule_content">
                      <div class="section-title">
                           <h1>Course Schedule</h1></div>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                <th scope="col">Course Name</th>
                                <th scope="col">mon</th>
                                <th scope="col">the</th>
                                <th scope="col">wed</th>
                                <th scope="col">thu</th>
                                <th scope="col">fri</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">6 WEEK TRAINING</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">personal training</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">boxing training </th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>
                                <tr>
                                    <th scope="row">GROUP TRAINING</th>
                                    <td>02.00</td>
                                    <td>10.10</td>
                                    <td>02.00</td>
                                    <td>02.10</td>
                                    <td>10.00</td>
                                </tr>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<!-- schedule end-->
<!-- Signup -->


<section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-white mb-5">Subscribe to get our latest workout routine</h2>
                        <form class="form-inline d-flex">
                            <input class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" type="email" placeholder="Enter email address..." />
                            <button class="btn btn-primary mx-auto" type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </section>






<!-- signup end -->


<!-----------Contact Us------>
  
   <section class="contact-section bg-black" id="contact">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Address</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">E-362,Mayur Vihar Phase 2,Delhi-110091</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="https://accounts.google.com/signin/v2/identifier?continue=https%3A%2F%2Fmail.google.com%2Fmail%2F&service=mail&sacu=1&rip=1&flowName=GlifWebSignIn&flowEntry=ServiceLogin">adarshkumar92133@gmail.com</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Phone</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">+91 999-061-7302</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.Youtube.com/">Youtube<i class="fa fa-youtube-play" aria-hidden="true"></i></a>

                   
                </div>
            </div>
        </section>
        
<!----End Contact Us--->

<!-----Footer----->
        <footer id="footer">
        <div class="footer-container">
           <div class="left-col">
                   <h1>Get Latest Updates</h1>
                   <div class="border"></div>
                       <p>Enter Your Email for our news and updates.</p>
                       <form action="" class="newsletter-form">
                           <input type="email" class="txtb" placeholder="Enter Your Email">
                           <input type="submit" class="btn" value="submit">
                       </form>
               </div>
            
            <div class="right-col">
                <img  class="logo" src="{% static 'image/logo.jpg' %}" alt="Logo">
                    <div class="social-media">
                        <a href="#"><i class="fab fa-twitter"></i></a>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                        <a href="#"><i class="fab fa-instagram"></i></a>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                        <a href="#"><i class="fab fa-linkedin-in"></i></a>
                    </div>
                <p class="right-text">
                    &copy; Copyright 2020 <strong><span>Fithub</span></strong>. All Rights Reserved
                </p>
            </div>
               
        </div>
    </footer>

<!------End Footer---->

</body>
</html>